/********************************************
 *
 * General styles for KenyaEMR
 *
 ********************************************/

/*** Page header ***/

.ke-page-header {
	background-color: #ffffff;
}

/*** Patient header ***/

.ke-patientheader {
	padding: 4px;
	background-color: #d9edf7;
	overflow: auto;
	color: #444;
}

.ke-patientheader .ke-patient-name {
	font-size: 18px;
	font-weight: bold;
}

.ke-patientheader .ke-identifier-type, .ke-patientheader .ke-patient-gender, .ke-patientheader .ke-patient-age, .ke-patientheader .ke-tip {
	color: #444;
}

.ke-patientheader .ke-identifier-value {
	color: #444;
}

.ke-patientheader button {
	background-color: #c9c3b4;
}

.ke-patientheader button:hover {
	background-color: #d9d3c4;
}

/***** System header *****/

.ke-system-header {
	padding: 3px;
	text-align: center;
	background-color: #AA0000;
	color: white;
}

/***** Visit header *****/

.ke-visit-header {
	padding: 3px;
	text-align: center;
	background-color: #466469;
	color: white;
}

/***** Dynamic form fields *****/

.ke-form-dynamic-field {
	display: block;
	margin: 5px 0 5px 0;
}
.ke-toolbar-item a:hover {
	background-color: #d9edf7 !important;
	color: #444 !important;
}
.ke-panelbar {
	background-color: #E3E4E6 !important;
	padding: 3px;
	margin-bottom: 5px;
}
.ke-page-sidebar .ke-panel-frame {
	background-color: #E3E4E6 !important;
}
.ke-panel-frame {
	background-color: #E3E4E6 !important;
	margin-bottom: 5px;
	padding: 3px;
}
.ke-panel-heading {
	color: #413c32;
}
.ke-page-sidebar .ke-panel-heading {
	color: #413c32;
}